.AddItemModal {
    margin: auto;
    
    width: auto;
    text-align: center;   
    padding: 10px;
    box-sizing: border-box;
}

.Form {
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
   
    box-shadow: 0 0.2rem 0.5rem rgb(250, 119, 12, 0.5);

    padding: 10px;
    margin: 10px auto;
}

@media (min-width: 600px) {
    .AddItemModal {
        width: 30rem;
    }
}