.ItemDetailsLong {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: darkblue;
  justify-content: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.ItemDetailsLong p {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 5px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ItemDetailsShort {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: darkblue;
  justify-content: center;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.ItemDetailsShort p {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 3px;
  margin-left: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ItemName {
  width: 250px;
  /* display: flex;
  flex-flow: column; */
  justify-content: center;
  padding: 3px;
  margin-left: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: blueviolet
}

.Buttons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
