.Button {
  background-color: transparent;
  width: 100%;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 0px 5px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline:none;
}
/* 
.Button:first-of-type {
    margin: 5px;
    padding: 5px;
} */

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  /* padding: 5px; */
  color: #5c9210;
  border: 1px solid #5c9210;
}
.Success:hover {
  background-color: #4caf50;
  color: white;
}

.Success:focus {
    outline: none;
}


.Danger {
  /* padding: 5px; */
  color: #944317;
  border: 1px solid #944317;
}

.Danger:hover {
  background-color: #944317;
  color: white;
}
.Danger:focus {
    outline: none;
}

.Warning {
  /* padding: 5px; */
  color: #a77802;
  border: 1px solid #a77802;
}

.Warning:hover {
  /* padding: 5px; */
  background-color: #a77802;
  color: white;
}

.Warning:focus {
    outline: none;
}