.TaskContainer {
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 2px 3px rgb(250, 119, 12, 0.5);
  background-color: #fff;

  margin-top: 100px;
  margin-bottom: 100px;

  justify-content: space-around;
  align-items: flex-start;
}

.FormWrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  border-bottom: 1px solid rgb(250, 119, 12, 0.5);
  background-color: #fff;
  box-shadow: 0 2px 3px rgb(250, 119, 12, 0.5);
  padding: 20px;
}

#submit {
  border-radius: 0;
  border: 0;
  color: #fff;
}

.FlexWrapper {
  display: flex;
}

.TaskWrapper {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid rgb(250, 119, 12, 0.5);
  color: #686868;
  margin: 5px;
  padding: 10px;
}


.TaskWrapper:hover {
  background-color: #f0f0f0;
}
